@layer normalize, component, variant, main, adaptive; 

@font-face {
	font-family: 'HelveticaNeueBold';
	src: url('/font/HelveticaNeueBold.ttf');
}

body {
	font-family: 'HelveticaNeueBold', sans-serif;
	background-color: var(--color-white);
}

:root {
	--color-white: #ffffff;
	--color-black: #000;
	--color-primary: #611F69;
	--color-light: #F4EDE4;

	--page-width-big: 1260px;
	--page-width-medium: 1000px;
	--page-width-small: 700px;

	--spacing-1: 8px;
	--spacing-2: 12px;
	--spacing-3: 16px;
	--spacing-4: 20px;
	--spacing-5: 24px;
	--spacing-6: 28px;
	--spacing-7: 32px;
	--spacing-8: 36px;

	--size-1: 14px;
	--size-2: 18px;
	--size-3: 22px;
	--size-4: 26px;
	--size-5: 30px;
	--size-6: 34px;

	--radius-1: 4px;

	--opacity-1: 0.7;
	--opacity-2: 0.3;

	--transition-1: 0.7s;

	--line-height: 1/5em;
}

@layer component {
	.button {
		text-decoration: none;
		color: var(--color-black);
		padding: var(--spacing-3);
		border-radius: var(--radius-1);
		text-align: center;
		border: 1px solid transparent;
	}

	.click {
		transition: opacity var(--transition-1);
	}

	.click:hover {
		opacity: var(--opacity-1);
		cursor: pointer;
	}

	.click:active {
		opacity: var(--opacity-2);
	}

	.features_section {
		padding-top: 150px;
		padding-bottom: 136px;

		display: grid;
		gap: var(--spacing-5);

		background-image: url('/img/features.png');
		background-repeat: no-repeat;
		background-position: top right;
	}

	.features_section_2 {

		padding-top: 60px;
		padding-bottom: 136px;
		display: grid;

		gap: 80px;

		background-image: url('/img/features2.png');
		background-repeat: no-repeat;
		background-position: top left;
	}

	.features_left {
		display: grid;
		margin-left: 614px;
		gap: var(--spacing-5);
	}

	.icon {
		display: block;
		background-repeat: no-repeat;
		background-position: center center;
	}
	
	.double_line {
		line-height: var(--line-height);
	}
}

@layer variant {
	.button_primary {
		color: var(--color-white);
		background-color: var(--color-primary);
	}

	.button_secondary{
		color: var(--color-primary);
		border-color: var(--color-primary);
		border-width: 2px;
	}

	.page_section_light {
		background-color: var(--color-light);
	}

	.feat_icon {
		height: 48px;
		width: 48px;
	}

	.icon_arrow {
		height: 14px;
		width: 24px;
		background-image: url('/svg/feature/arrow-right.svg');
	}
}

@layer main {
	.page {
		display: grid;
	}

	.page_section {
		display: flex;
		justify-content: center;
	}

	.page_content {
		width: 100%;
		padding: var(--spacing-3);
	}

	.hero_section {
		display: flex;
		flex-direction: column;
		justify-content: center;

		gap: 220px;

		min-height: 600px;
	}

	.delivery_section {
		display: flex;
		justify-content: center;
		align-items: center;
		align-self: stretch;

		gap: var(--spacing-8);
		padding-top: 72px;
		padding-bottom: 48px;
	}

	.working_section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
		gap: var(--spacing-8);
		padding-top: 100px;
		padding-bottom: 80px;
	}

	.working_top {
		font-size: var(--spacing-6);
		font-weight: 700;
		line-height: var(--line-height);
	}

	.working_bottom {
		display: flex;
		gap: 75px;
	}

	.working_card {
		display: flex;
		flex-direction: column;
		align-items: flex-start ;
		text-align: start ;
		gap: var(--spacing-1);

		width: 285px;
		height: 420px;
		
		box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.10);
	}

	.working_content {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-content: space-between;
		height: 100%;
		padding-left: var(--spacing-2);
		padding-bottom: var(--spacing-3);
	}

	.working_first {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-1);
	}

	.working_last {
		display: flex;
		width: 260px;
		justify-content: space-between;
		align-items: center;
		align-self: stretch;
		margin-top: auto;
	}

	.working_text {
		color: #454245;
		font-size: var(--size-1);
		font-weight: 700;
		line-height: 18px; 
	}

	.working_title {
		color: var(--color-black);
		font-size: var(--spacing-5);
		font-weight: 700;
		line-height: 150%;
	}

	.working_button {
		color: #1264A3;
		font-size: 14px;
		font-weight: 700;
		line-height: 15.75px;
		letter-spacing: 0.8px;
		text-transform: uppercase;
		text-decoration: none
	}

	.working_button:hover {
		opacity: 0.7;
		transition: opacity var(--transition-1);
	}

	.hero {
		height: 100%;
		display: flex;
		align-items: center;
		margin-top: 50px;
	}

	.hero_content {
		display: grid;
		gap: var(--spacing-5);
		max-width: 425px;
		color: var(--color-black);
		position: relative;
	}

	.delivery_content {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-5);
	}

	.brands {
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: var(--spacing-8);
		row-gap: var(--spacing-4);
		flex-wrap: wrap;
	}

	.hero_image {
		position: absolute;
		left: 580px;
		top: 0;
	}

	.deliverylogo_image {
		width: 150px;
		height: 40px;
	}

	.hero_label {
		font-size: var(--size-1);
	}

	.hero_title {
		font-size: 50px;
	}

	.hero_info {
		font-size: var(--size-2);
	}

	.hero_buttons {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: var(--spacing-5);
	}

	.features_title {
		font-size: var(--size-6);
	}

	.features_description {
		font-size: var(--size-2);
		max-width: 520px;
		line-height: var(--line-height);
	}

	.delivery_description {
		font-size: var(--size-4);
		font-weight: 700;
		line-height: 150%;
		width: 380px;
	}

	.delivery_text {
		font-size: var(--spacing-3);
	}

	.feat_card {
		padding: var(--spacing-3);
		background-color: var(--color-white);
		display: grid;
		gap: var(--spacing-3);

		font-size: var(--size-2);

		grid-template-rows: min-content min-content 1fr min-content;
	}

	.feat_link {
		justify-self: flex-end;
	}

	.features_grid_4 {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: var(--spacing-3);
	}

	.features_grid_4 > .feat_card:first-of-type {
		grid-row: 1 / 3;
	}

	.features_grid_3 {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: var(--spacing-3);
		margin-left: 314px;
	}

	.features_grid_3 > .feat_card:first-of-type {
		grid-row:  1 / 3;
	  }
	
	.features_grid_3 > .feat_card:nth-of-type(2) {
		grid-row:  1 / 3;
	  }

}

@layer adaptive {
	@media all and (1260px <= width) {
		.page_content {
			max-width: var(--page-width-big);
		}
	}
	
	@media all and (1000 <= width < 1260px) {
		.page_content {
			max-width: var(--page-width-medium);
		}
	
		.hero_image {
			left: 518px;
			height: 300px;
		}
	}
	
	@media all and (width < 1000px) {
		.page_content {
			max-width: var(--page-width-small);
		}

		.hero_image {
			position: static;
			width: 100%;
			order: -1;
		}

		.hero_content {
			max-width: 100%;
		}

		.features_grid_4 {
			grid-template-columns: repeat(3, 1fr);
		}

		.features_grid_4 > .feat_card:first-of-type {
			grid-row: 1 / 3;
		}

		.features_section {
			background: none;
		}

		.features_section_2 {
			background: none;
		}

		.features_grid_3 {
			margin-left: 0;
		}

		.features_left {
			margin-left: 0;
		}

		.delivery_section {
			flex-direction: column;
		}

		.delivery_description {
			width: 100%;
			height: auto;
		}
	}

	@media all and (width < 700px) {
		.features_grid_4 {
			grid-template-columns: 2fr 2fr;
		}

		.features_grid_3 {
			grid-template-columns: 2fr 2fr;
		}

		.delivery_description {
			width: 560px;
			height: auto;
		}

		.delivery_section {
			align-items: flex-start;
		}

		.working_bottom {
			flex-wrap: wrap;
		}
	}

	@media all and (width < 400px) {
		
		.features_grid_4 {
			grid-template-columns: repeat(1, 1fr);
		}

		.features_grid_3 {
			grid-template-columns: 1fr;
		}

		.hero_buttons {
			grid-template-columns: 1fr;
			gap: var(--spacing-2);
		}
	}

}