:root {
	--space-s: 8px;
	--space-m: 12px;
	--space-xm: 16px;
	--space-l: 24px;
	--space-b: 36px;

	--size-s: 14px;
	--size-d: 16px;
	--size-l: 20px;
	--size-b: 24px;

	--color-border: #D3DEE9;
	--color-primary: rgb(46, 46, 255);
	--color-white: #FFFFFF;
	--color-title: #212529;
	--color-text: #343A40;

	--border-radius-d: 12px;
	--border-radius-s: 4px;

	--weight-title: 600;
	--weight-text: 400;

	--page-width: 1000px;
}

/* ============ */
.page {
	background: var(--color-white);
	padding: 0 15px;
	display: flex;
	justify-content: center;
}

.page_content {
	max-width: var(--page-width);
	width: 100%;

	display: flex;
	flex-direction: column;
	gap: 80px;
}

* {
	font-family: "Roboto", sans-serif;
}

/* ============ */

.header {
	padding: var(--space-l) 0;
	border-bottom: 1px solid var(--color-border);

	display: flex;
	justify-content: space-between;

	position: sticky;
	max-width: var(--page-width);
	width: 100%;

	background-color: var(--color-white);
	z-index: 1;
}

.logo {
	font-size: 17px;
	color: var(--color-white);
	background: var(--color-primary);

	width: 24px;
	height: 24px;
	border-radius: calc(var(--border-radius-d) / 2);

	display: flex;
	justify-content: center;
	align-items: center;
}

.nav {
	display: flex;
}

.nav_vertical {
	gap: var(--space-xm);
	flex-direction: column;
}

.nav_inline {
	gap: var(--space-l);
}

.nav_link {
	color: var(--color-text);
	font-size: var(--size-d);
	text-decoration: none;
	line-height: 100%;

	transition-property: color;
	transition-duration: 1s;
}

.nav_link:hover {
	text-decoration: underline;
	color: var(--color-primary);
}

.footer {
	padding: var(--space-l) 0;
	border-top: 1px solid var(--color-border);

	display: flex;
	justify-content: space-between;
}

.footer_copyright {
	font-size: var(--size-s);
	color: var(--color-text);
	display: block;
	margin-top: var(--space-l);
}

.footer_title {
	font-size: var(--size-l);
	color: var(--color-title);
	display: block;
	margin-bottom: var(--space-l);
	font-weight: var(--weight-title);
}

/* ============ */

.main {
	display: flex;
	width: 100%;
	align-items: center;
	gap: 24px;
	height: 353px;
}

.info {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.info_title {
	color: #212529;
	font-size: 56px;
	font-weight: 700;
	line-height: 120%;
	width: 582px;
}

.info_text {
	color: #212529;
	font-size: 24px;
	font-weight: 400;
	line-height: 36px;
	width: 412px;
}

.form {
	max-width: 394px;
	width: 100%;
	background-color: #F8F9FA;
	border-radius: var(--border-radius-d);
	border: 1px solid #DEE2E6;
	padding: 60px 48px;
	display: flex;
	flex-direction: column;
 	gap: 20px;
}

.form_title {
	text-align: center;
	font-size: var(--size-b);
	font-weight: var(--weight-text);
	color: var(--color-title);
}

.form_info {
	text-align: center;
	font-size: 14px;
	font-weight: var(--weight-text);
	color: #6C757D;
}

.form_button {
	text-align: center;
	padding: 12px;
	background-color: var(--color-primary);
	color: var(--color-white);
	border-radius: var(--border-radius-s);
	transition: opacity 0.7s;
	font-size: 18px;
}

.form_bot {
	border-bottom: 1px solid var(--color-border);
}

.form_button:hover {
	opacity: 0.7;
}

.form_button:active {
	opacity: 0.3;
}

.form_input_list {
	display: flex;
	flex-direction: column;
}

#form_input_1 {
	margin-bottom: 8px;
	padding: 16px;
}

#form_input_2 {
	padding: 15px;
}

.form_input {
	border: 1px solid #CED4DA;
	border-radius: var(--border-radius-s);
	font-size: 14px;
}

.form_input:placeholder {
	color: var(--color-title);
	font-size: var(--size-d);
}

.form_checkbox {
	display: flex;
	gap: var(--space-s);
	align-items: center;
}

.form_checkbox > input {
	display: none;
}

.form_checkbox > input ~ div {
	border: 1px solid #767676;
	border-radius: var(--border-radius-s);
	height: 13px;
	width: 13px;
}

.form_checkbox > input:checked ~ div {
	border-color: var(--color-primary);
	background-color: var(--color-primary);
}

.form_checkbox > label {
	color: var(--color-title);
	font-size: 14px;
	cursor: pointer;
}

/* ============ */

.updates {
	width: 100%;
	padding: 24px;
	border-radius: 4px;
	background: #FFF;
	box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.updates_title {
	color: #212529;
	font-size: 24px;
	font-weight: 400;
	line-height: 20px;
	padding-bottom: 12px;
	border-bottom: 1px solid #DEE2E6;
}

.updates_list {
	display: flex;
	flex-direction: row;
	gap: 8px;
}

.updates_image {
	width: 32px;
	height: 32px;
}

.upd_list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 12px;
	border-bottom: 1px solid #DEE2E6;
	padding-bottom: 12px;
	width: 100%;
}

.list_name {
	color: #6C757D;
	font-size: 12.8px;
	font-weight: 700;
	line-height: 16px;
}

.list_text {
	color: #6C757D;
	font-size: 16px;
	font-weight: 400;
	line-height: 100%;
}

.updates_link {
	color: #007BFF;
	font-size: 14px;
	align-self: flex-start;
	text-decoration: none;
	font-weight: 400;
	line-height: 19.2px;
}

.updates_link:hover {
	opacity: 0.7;
	text-decoration: underline;
}
/* ============ */

.expirience {
	position: relative;
	display: flex;
	padding: 24px 28px;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
	align-self: stretch;
	border-radius: 4px;
	background: #F8F9FA;
}

.expirience_list {
	display: flex;
	flex-direction: row;	
	gap: 24px;
}

.expirience_content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 16px;
	gap: 8px;
	border-radius: 12px;
	background-color: #212529;
}

.expirience > h3 {
color: #212529;
font-size: 42px;
font-weight: 700;
line-height: 120%;
}

.expirience_content > strong {
	color: #FFF;
	font-size: 20px;
	font-weight: 700;
	line-height: 26px;
}

.expirience_content > p {
	align-self: stretch;
	color: #B1B1B1;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}

.expirience > span {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	
	max-width: 90px;
	max-height: 53px;
	width: auto;
	height: auto;
	transform: rotate(30deg);
	padding: 12px 24px;
	border-radius: 70px;
	background: #FF7347;

	color: #FFF;
	font-size: 24px;
	font-weight: 700;
	line-height: 120%;

	position: absolute;
	top: -20px;
	right: -40px;

}