:root {
	--space-s: 8px;
	--space-m: 12px;
	--space-xm: 16px;
	--space-l: 24px;
	--space-b: 36px;

	--size-s: 14px;
	--size-d: 16px;
	--size-l: 20px;
	--size-b: 24px;

	--color-border: #D3DEE9;
	--color-primary: rgb(46, 46, 255);
	--color-white: #FFFFFF;
	--color-title: #212529;
	--color-text: #343A40;

	--border-radius-d: 12px;
	--border-radius-s: 4px;

	--weight-title: 600;
	--weight-text: 400;

}

/* ============ */
.page {
	background: #111827;;
	padding: 0 15px;
	display: flex;
	justify-content: center;
}

.page_content {
	max-width: 1150px;
	width: 100%;

	display: flex;
	flex-direction: column;
	gap: 60px;
}

* {
	font-family: "Roboto", sans-serif;
}

/* ============ */

.header {
	max-width: 1150px;
	width: 100%;
	z-index: 1;
}

.header_top {
	padding: 12px 0;
	display: flex;
	justify-content: space-between;
	position: sticky;
	border-bottom: 1px solid #495b75;
}

.logo {
	font-size: 14px;
	color: var(--color-white);
	background: #885FFB;

	width: 56px;
	height: 30px;
	border-radius: 10px;
	padding: 8px 12px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.nav_inline {
	display: flex;
	align-items: center;
	gap: 24px;
}


.nav_link {
	color: var(--color-white);
	font-size: 16px;
	text-decoration: none;
	line-height: 100%;
	font-weight: 400;
	transition: 1s;
}

.nav_link:hover {
	text-decoration: underline;
	opacity: 0.7;
}

.nav_vertical {
	gap: 16px;
	flex-direction: column;
}

.header_bottom {
	display: flex;
	padding-top: 12px;
	justify-content: space-between;
	align-items: center;
	align-self: stretch;
}

.header_bottom_left {
	display: flex;
	justify-content: flex-start;
	gap: 6px;
}

.header_bottom_logo {
	display: flex;
	padding: 2px 6px;
	justify-content: center;
	align-items: center;
	
	width: 30px;
	height: 18px;
	border-radius: 4px;
	background: rgba(136, 95, 251, 0.20);

	font-size: 14px;
	color: #885FFB;
}

.header_bottom_text {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFF;
	font-size: 14px;
	font-weight: 400;
	line-height: 100%;
}

.header_bottom_right {
	color: #FFF;
	font-size: 14px;
	font-weight: 400;
	line-height: 100%;
}

/* ============ */

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: stretch;
	height: 300px;
	padding: 32px;
	gap: 20px;
	border-radius: 24px;
	background: radial-gradient(632.95% 141.42% at 100% 100%, rgba(17, 24, 39, 0.00) 0%, rgba(78, 63, 146, 0.60) 100%);
	box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
}

.hero_content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.hero_title {
	color: #FFF;
	text-align: center;
	font-size: 36px;
	font-weight: 700;
	line-height: 100%;
}

.hero_text {
	width: 600px;
	color: var(--main-additional-font, #9CA3AF);
	text-align: center;
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 150%;
}

.form_button {
	display: flex;
	width: 150px;
	padding: 12px 19px;
	justify-content: center;
	gap: 12px;
	border-radius: 10px;
	background: #885FFB;

	color: #FFF;
	font-size: 16px;
	font-weight: 700;
	line-height: 100%;
	text-decoration: none;
}

.form_button:hover {
	opacity: 0.7;
}

/* ============ */

.about {
	display: flex;
	padding: 32px;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
	align-self: stretch;
	border-radius: 24px;
	background: rgba(42, 49, 65, 0.44);
	backdrop-filter: blur(25px);
}

.about_content {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.about_content_title {
	color: #FFF;
	font-size: 24px;
	font-weight: 700;
	line-height: 100%;
}

.about_content_text {
	color:  #9CA3AF;
	font-family: Inter;
	font-size: 14px;
	font-weight: 400;
	line-height: 170%;
}

/* ============ */

.articles {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-self: stretch;

	gap: 32px;
	position: relative;
}

.articles_top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-self: stretch;
}

.articles_top > h3 {
	color: #FFF;
	font-size: 32px;
	font-weight: 700;
	line-height: 100%;
}

.articles_top_view {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 12px 20px;
	border-radius: 10px;
	border: 1px solid var(--main-additional-font, #9CA3AF);

	color: #FFF;
	font-size: 16px;
	font-weight: 700;
	line-height: 100%;
}

.articles_top_view:hover {
	opacity: 0.7;
	cursor: pointer;
}

.articles_bottom{
	display: flex;
	gap: 32px;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: flex-start ;
	text-align: start ;
	gap: 16px;
}

.articles_image {
	width: 360px;
	height: 200px;
	border-radius: 24px;
}

.articles_title {
	color: #FFF;
	font-size: 18px;
	font-weight: 700;
	line-height: 100%;
}

.articles_text {
	color: #9CA3AF;
	font-size: 14px;
	font-weight: 400;
	line-height: 150%;
}

.articles_button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px 16px;
	border-radius: 10px;
	background: #885FFB;

	text-decoration: none;
	color: #FFFFFF;
}

.articles_button:hover {
	opacity: 0.7;
}

.new {
	
	padding: 2px 6px;
	border-radius: 4px;
	background: rgba(251, 95, 95, 0.80);

	max-width: 47px;
	max-height: 20px;
	width: auto;
	height: auto;

	color: #FFF;
	font-size: 16px;
	font-weight: 700;
	line-height: 100%;

	position: absolute;
	top: 240px;
	left: 690px;
}

/* ============ */

.footer {
	display: flex;
	justify-content: space-between;
	position: sticky;
	padding: 16px 0 32px 0;
	border-top: 1px solid #495b75;
}

.footer_nav {
	display: flex;
	align-items: center;
	gap: 16px;
}

.footer_link {
	color: var(--color-white);
	font-size: 16px;
	text-decoration: none;
	line-height: 100%;
	font-weight: 400;
	transition: 1s;
}

.footer_link:hover {
	text-decoration: underline;
	opacity: 0.7;
}

.footer_copyright {
	color:  #9CA3AF;
	font-size: 16px;
	font-weight: 400;
	line-height: 100%;
}