:root {
	--space-m: 12px;
	--space-xm: 16px;
	--space-l: 24px;
	--space-b: 36px;

	--size-s: 14px;
	--size-d: 16px;
	--size-l: 20px;

	--color-border: #DEE2E6;
	--color-primary: rgb(46, 46, 255);
	--color-white: #FFFFFF;
	--color-title: #212529;
	--color-text: #343A40;

	--border-radius: 12px;

	--weight-title: 500;
	--weight-text: 400;
}

/* ============ */
.page {
	background: var(--color-white);
	padding: 0 15px;
	display: flex;
	justify-content: center;
}

.page_content {
	max-width: 960px;
	width: 100%;

	display: flex;
	flex-direction: column;
	gap: 80px;
}

/* ============ */

.header {
	padding: var(--space-l) 0;
	border-bottom: 1px solid var(--color-border);

	display: flex;
	justify-content: space-between;
}

.logo {
	font-size: 17px;
	color: var(--color-white);
	background: var(--color-primary);

	width: 24px;
	height: 24px;
	border-radius: calc(var(--border-radius) / 2);

	display: flex;
	justify-content: center;
	align-items: center;
}

.nav {
	display: flex;
}

.nav_vertical {
	gap: var(--space-xm);
	flex-direction: column;
}

.nav_inline {
	gap: var(--space-l);
}

.nav_link {
	color: var(--color-text);
	font-size: var(--size-d);
	text-decoration: none;
	line-height: 100%;
}

.nav_link:hover {
	text-decoration: underline;
	color: var(--color-primary);
}

.footer {
	padding: var(--space-l) 0;
	border-top: 1px solid var(--color-border);

	display: flex;
	justify-content: space-between;
}

.footer_copyright {
	font-size: var(--size-s);
	color: var(--color-text);
	display: block;
	margin-top: var(--space-l);
}

.footer_title {
	font-size: var(--size-l);
	color: var(--color-title);
	display: block;
	margin-bottom: var(--space-l);
	font-weight: var(--weight-title);
}

/* ============ */

.main {
	display: flex;
	align-items: center;
	gap: 80px;
	padding: 0;
}

.main_image {
	width: 500px;
	height: 500px;
	border-radius: var(--border-radius);
}

.main_content {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.main_title {
	font-size: 36px;
	color: var(--color-title);
	line-height: 120%;
	font-weight: var(--weight-title);
}

.main_text {
	color: var(--color-text);
	font-size: 16px;
	font-weight: var(--weight-text);
	line-height: 170%;
}

.button {
	display: flex;
	justify-content: center;
	padding: 12px 16px;
	align-items: center;

	text-decoration: none;
	border-radius: calc(var(--border-radius) / 2);
}

.main_button {
	font-size: 16px;
	background-color: var(--color-primary);
	width: 100%;
	max-width: 120px;
	height: 36px;
	color: var(--color-white);
}

.button:hover {
	opacity: 0.7;
}

/* ====================================================== */

.featured {
	display: flex;
	gap: var(--space-b);

	padding: var(--space-b);
	border-bottom: 1px solid var(--color-border);
}

.card {
	display: flex;
	flex-direction: column;
	align-items: flex-start ;
	text-align: start ;
	gap: 24px;
}

.card_image {
	height: 64px;
	width: 64px;
	border-radius: var(--border-radius);
}

.card_title {
	font-size: 32px;
	font-weight: var(--weight-title);
	color: var(--color-title);
}

.card_text {
	font-weight: var(--weight-text);
	width: 288px;
	font-size: var(--size-d);
	color: var(--color-text);
}

.card_button {
	color: var(--color-primary);
	font-size: var(--size-d);
	text-decoration-line: underline;
}

.card_button:hover {
	opacity: 0.7;
}

/* ====================================================== */

.form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #563D7C;
	padding: var(--space-l);
	border-radius: var(--border-radius);
}

.form_content {
	display: flex;
	flex-direction: column;
	gap: var(--space-m);
}

.form_title {
	font-size: var(--space-l);
	font-weight: var(--weight-title);
	color: var(--color-white);
}

.form_button {
	background-color: var(--color-white);
	font-size: var(--size-l);
	width: 240px;
	max-height: 52px;
	height: auto;
}
